{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Список изображений{% endblock title %}
</head>

<body>
    {% block content %}
    {% for image in files_list %}
    <p><a href="{{ image.get_absolute_url }}">{{ image.name }}</a></p>
    {% empty %}
    <p>Здесь еще нет изображений</p>
    {% endfor %}
    <p><a href="{% url "upload" %}">Загрузить новое изображение</a></p>
    {% endblock content %}

</body>

</html>