{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}

<h1>{{ instance.name }}</h1>

<p><img src=" {{instance.image.url }}" alt="Исходная картинка"></p>
<form action="{% url "image_detail" instance.pk %}" method='post'>
    {% csrf_token %}
    {{ sizes_form.as_p }}
    {% comment %} {{ resized_image }} {% endcomment %}
    <input type="submit" value="Дай новый размер">
</form>
{% if show_image %}
<p><img src="{{ instance.resized_image.url }}" alt=" Твоя картинка"></p>
{% endif %}
{% endblock content %}